<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Courier</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="frontpage.component.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
      <div class="navbar-brand p-1">ASD(Ace Speed Delivery)</div>
    </div>
  </nav>

  <!--header section-->
  <header class="headersection text-white py-0">
    <div class="container">
        <h5>
            <nav id="nav-top">
              <ul>
                <li><span><a routerLink="/our-services">Our Services</a></span></li>
                <li><span><a  routerLink="/about-us"> About Us</a></span></li>
                <li><span><a routerLink="/contact-us">Contact Us</a></span></li>
                <li><span><a routerLink="/shipment">Track Courier</a></span></li>
                <li><span><a routerLink="/register">PickUpRequest</a></span></li>
                <li id="sign-in"><span><a routerLink="/login">Log in</a></span></li>
              </ul>
            </nav>
        </h5>
    </div>
  </header>

  <div id="container">
    <h2 id="logo">Courier Management System</h2>
  </div>
  <!-- End of Container ID -->
  <footer>
    <nav id="nav-bottom" class="clearfix">
      <ul class="left-menu">
        <li id="link"><a routerLink="/our-services">Services</a></li><br/>
        <li id="link"><a routerLink="/shipment">Track Orders</a></li><br/>
        <li id="link"><a routerLink="/about-us">About Us</a></li>
      </ul>
      <ul id="right-menu">
        <li> <a routerLink="/contact-us"> Have a Business Enquiry? Write us here</a></li><br/><br/>
        <li>Monday-Friday : 9:00 AM to 8:00</li><br/>
        <li>Saturday-Sunday : 10:00AM to 7:00</li>
      </ul>
      <ul id="center-menu">
        <li>   Contact</li><br/>
        <li>  +91 1234567890</li>
      </ul>
    </nav>
  </footer>
</body>
</html>

