<head>
  <link rel="stylesheet" href="our-services.component.css">
</head>
<body>
  <section class="we-offer-area text-center bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-heading text-center">
            <h2>What we <span>Offer</span></h2>
          </div>
        </div>
      </div>
      <div class="row our-offer-items less-carousel">
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-pen-fancy"></i>
              <h4>B2C Express</h4>
                <p>
                  The collective experience of Ecommerce leadership and unwavering focus on technology combine to provide efficient product delivery and maximise customer satisfaction.
                </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-dharmachakra"></i>
              <h4>B2B Express</h4>
                <p>
                  Specializing in innovative supply-chain solution to our clients, Delivery India is a true Logistics Management provider.
                </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-tasks"></i>
              <h4>Cross-border Logistics</h4>
                <p>
                  At ASD, we bridge the transportation gap between India and the rest of the world. Our focus is to provide our clients with a simple, seamless, door-to-door cross-border suite of service, regardless of the borders your freight needs to cross.
                </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-recycle"></i>
              <h4>3PL (Third Party Logistics)</h4>
                <p>
                  Through our well-planned, standardized fulfillment centres spread across the country, we offer complete product fulfillment services for all kinds and scale of businesses.
                </p>
          </div>
        </div>
        <!-- End Single Item -->
        <!-- Single Item -->
        <div class="col-md-4 col-sm-6 equal-height">
          <div class="item">
            <i class="fas fa-headset"></i>
              <h4>24/7 Support</h4>
                <p>
                  Our specialities, i.e., 24/7 working hours, doorstep pickup and delivery, hassle-free transportation, personalized customer support and more, make us a unique express delivery service provider.
                </p>
          </div>
        </div>
              <!-- End Single Item -->
      </div>
    </div>
  </section>
</body>
